.polygon-tag {
  clip-path: polygon(0 0,100% 0,100% 100%,50% 85%,0 100%);
  min-width: 110px;
}

@media (max-width: 767px) {
  .polygon-tag {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 0;
  }

  .featuredImage {
    width: calc(100% - 110px);
  }
}