@media (min-width: 1024px) {
    :root {
        --h1-font-size: 2.5rem;
        --h1-line-height: 3rem;
        --h2-font-size: 2rem;
        --h2-line-height: 2.5rem;
        --h3-font-size: 1.5rem;
        --h3-line-height: 2rem;
        --h4-font-size: 1.25rem;
        --h4-line-height: 1.75rem;
        --h5-font-size: 1.125rem;
        --h5-line-height: 1.5rem;
        --text-font-size: 1rem;
        --text-line-height: 1.875rem;
    }
}

@media (max-width: 1023px) {
    :root {
        --h1-font-size: 2rem;
        --h1-line-height: 2.5rem;
        --h2-font-size: 1.75rem;
        --h2-line-height: 2.25rem;
        --h3-font-size: 1.5rem;
        --h3-line-height: 2rem;
        --h4-font-size: 1.125rem;
        --h4-line-height: 1.5rem;
        --h5-font-size: 1rem;
        --h5-line-height: 1.5rem;
        --text-font-size: 1rem;
        --text-line-height: 1.75rem;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

h1 {
    font-size: var(--h1-font-size);
    line-height: var(--h1-line-height);
}

h2 {
    font-size: var(--h2-font-size);
    line-height: var(--h2-line-height);
    margin-bottom: 1rem;
    margin-top: 2rem;
}

h3 {
    font-size: var(--h3-font-size);
    line-height: var(--h3-line-height);
}

h4 {
    font-size: var(--h4-font-size);
    line-height: var(--h4-line-height);
}

h5 {
    font-size: var(--h5-font-size);
    line-height: var(--h5-line-height);
}

h6 {
    font-size: var(--h6-font-size);
    line-height: var(--h6-line-height);
}

p {
    font-size: var(--text-font-size);
    line-height: var(--text-line-height);
}